<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.ui.views">
    <view
          id="com.opencode.ide.board.views.BoardView"
          name="Board"
          icon="icons/board.png"
          category="com.opencode.ide.ui"
          class="com.opencode.ide.board.views.BoardView"/>
    <view
          id="com.opencode.ide.board.views.FleetView"
          name="Fleet"
          icon="icons/fleet.png"
          category="com.opencode.ide.ui"
          class="com.opencode.ide.board.views.FleetView"/>
  </extension>

</plugin>
